In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'Roll Number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['Adrian Pimento', 'Amy Santiago', 'Charles Boyle', 'Doug Judy', 'Gina Linetti', 'Jake Peralta', 'Kevin Cozner', 'Madeline Wuntch', 'Raymond Holt', 'Rosa Diaz'],
    'Gender': ['M', 'F', 'M', 'M', 'F', 'M', 'M', 'F', 'M', 'F'],
    'Marks1': [85, 78, 92, 88, 76, 90, 82, 89, 95, 80],
    'Marks2': [88, 74, 91, 86, 79, 87, 85, 90, 94, 81],
    'Marks3': [90, 80, 93, 89, 77, 92, 84, 88, 96, 82]
    
})
print(df)

   Roll Number             Name Gender  Marks1  Marks2  Marks3
0            1   Adrian Pimento      M      85      88      90
1            2     Amy Santiago      F      78      74      80
2            3    Charles Boyle      M      92      91      93
3            4        Doug Judy      M      88      86      89
4            5     Gina Linetti      F      76      79      77
5            6     Jake Peralta      M      90      87      92
6            7     Kevin Cozner      M      82      85      84
7            8  Madeline Wuntch      F      89      90      88
8            9     Raymond Holt      M      95      94      96
9           10        Rosa Diaz      F      80      81      82

In [4]:
df['Total Marks'] = df['Marks1'] + df['Marks2'] + df['Marks3']
print(df)

   Roll Number             Name Gender  Marks1  Marks2  Marks3  Total Marks
0            1   Adrian Pimento      M      85      88      90          263
1            2     Amy Santiago      F      78      74      80          232
2            3    Charles Boyle      M      92      91      93          276
3            4        Doug Judy      M      88      86      89          263
4            5     Gina Linetti      F      76      79      77          232
5            6     Jake Peralta      M      90      87      92          269
6            7     Kevin Cozner      M      82      85      84          251
7            8  Madeline Wuntch      F      89      90      88          267
8            9     Raymond Holt      M      95      94      96          285
9           10        Rosa Diaz      F      80      81      82          243

In [5]:
df['Marks1'].min()

76

In [6]:
df['Marks2'].max()

94

In [7]:
df['Marks3'].mean()

87.1

In [19]:
df['Average Marks'] = df[['Marks1','Marks2','Marks3']].mean(axis=1)
print(df)

   Roll Number             Name Gender  Marks1  Marks2  Marks3  Total Marks  \
0            1   Adrian Pimento      M      85      88      90          263
1            2     Amy Santiago      F      78      74      80          232
2            3    Charles Boyle      M      92      91      93          276
3            4        Doug Judy      M      88      86      89          263
4            5     Gina Linetti      F      76      79      77          232
5            6     Jake Peralta      M      90      87      92          269
6            7     Kevin Cozner      M      82      85      84          251
7            8  Madeline Wuntch      F      89      90      88          267
8            9     Raymond Holt      M      95      94      96          285
9           10        Rosa Diaz      F      80      81      82          243

   Average Marks
0      87.666667
1      77.333333
2      92.000000
3      87.666667
4      77.333333
5      89.666667
6      83.666667
7      89.000000
8      95.000000
9      81.000000

In [31]:
max_avg= df['Average Marks'].max()
print(df.loc[df['Average Marks'].idxmax()])

Roll Number                 9
Name             Raymond Holt
Gender                      M
Marks1                     95
Marks2                     94
Marks3                     96
Total Marks               285
Average Marks            95.0
Name: 8, dtype: object

In [38]:
count = 0
for i in df['Marks2']:
    if i < 40:
        count += 1

print("The number of people failed in Marks2 is: " + str(count))

The number of people failed in Marks2 is: 0